.article img {
  width: 100px;
  height: 150px; }

.btn-biblio {
  background-color: #f0ea96; }

.btn-login {
  background-color: #f0ea96; }

.btn-leer {
  background-color: #f0ea96; }

.btn-inicio {
  background-color: #f0ea96; }

.btn-contac {
  background-color: #f0ea96; }

body {
  background-color: #3faace;
  font-family: 'Oswald', sans-serif;
  font-size: small;
  display: flex;
  flex-direction: row;
  flex-flow: wrap; }

* {
  margin: 0;
  padding: 0; }

.encabezado {
  background-image: url("../images/mangalogo2.jpg");
  border: 2px solid;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  width: 1260px;
  height: 350px; }

a {
  text-decoration: none; }

.centrado {
  text-align: center; }

ul {
  list-style-type: none; }

p {
  color: white; }

.textoverde {
  color: #3b00c4; }

.textodescriptivo {
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.video {
  text-align: center; }

.fondovideo {
  background-image: url("../images/mangalogo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 338px;
  width: 100%; }

.logo {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  /* margin-right: auto;
    margin-left: 50%; */ }

.button-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
  height: 50px;
  flex-direction: row;
  width: 100%;
  margin-top: 4px;
  margin-bottom: auto; }

.button-container div {
  background-color: #f0ea96;
  margin: 10px;
  text-align: center;
  border: 2px solid;
  width: 80px;
  height: 22px;
  font-style: italic;
  display: inline-block;
  margin-top: 14px;
  margin-bottom: auto; }

.nav__centrado {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center; }

#pielog {
  height: 400px; }

.pie {
  background-color: #052734;
  margin-top: 50px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden; }

.pie__redes {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: 40px; }

.mangaline article {
  width: 100px;
  height: 100px;
  margin: 50px;
  align-items: center;
  display: inline-block; }

html {
  font-size: 62.5%; }

.h3espacio {
  padding-top: 10%;
  margin-left: 4px;
  margin-right: auto; }

.subrayado {
  text-decoration: underline;
  text-decoration-color: #ff0202; }

.contactoaling {
  width: 100px;
  height: 100px;
  margin: 50px;
  align-items: center;
  margin-right: auto;
  margin-left: 575px;
  text-align: left; }

.contactoh1 {
  text-align: center;
  text-decoration: underline black; }

.piecontac {
  background-color: #052734;
  margin-top: 290px;
  height: 185px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  overflow: hidden; }

.divotro {
  text-align: right; }

.headercont {
  background-image: url(../images/mangalogo.jpg);
  height: 100px;
  width: 1280px; }

.encabezadobi {
  background-image: url(../images/mangalogo2.jpg);
  background-size: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;
  height: 175px;
  display: inline-block; }

.divtubi {
  margin-bottom: auto;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  width: 100%; }

.tubi {
  color: #f6fc5b;
  font-style: italic;
  font-weight: bold;
  border: 2px solid;
  background-color: black; }

section img {
  border: 2px solid black;
  border-radius: 5px; }

div img {
  border: 2px solid black;
  border-radius: 5px; }

div iframe {
  border: 12px solid black;
  border-radius: 9px; }

.divpop {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  /* width: 200vh; */
  height: 100%; }

.mangaspop {
  color: #f6fc5b;
  font-style: italic;
  font-weight: bold;
  border: 2px solid;
  width: 120px;
  height: 58px;
  background-color: black;
  /* margin-right: auto;
    margin-left: 45%; */ }

.divha {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  height: 55px;
  width: 100%; }

.h1 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  color: #ff4111;
  background-color: black;
  border: 2px solid;
  text-align: center;
  width: 500px;
  height: 100%;
  font-size: 42px;
  /* margin-right: auto;
    margin-left: 448px; */ }

.h3pie {
  margin: 5px; }
